<table id="mytable">
  <thead>
      <tr>
          <th>Country</th>
          <th>Population</th>
          <th>Date</th>
          <th>Age</th>
          <th>Temp</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let i of rows">
          <td>Syria</td>
          <td>0000000</td>
          <td>March 24 2014</td>
          <td>11</td>
          <td>{{ i }}</td>
      </tr>
  </tbody>
</table>


<h3>Escolha a exportação:</h3>
<button (click)="exportAs('png')">Png</button>
<button (click)="exportAs('csv')">Csv</button>
<button (click)="exportAs('xlsx')">Excel</button>
<button (click)="exportAs('txt')">Txt</button>
<button (click)="exportAs('json')">Json</button>